<ion-header>
  <ion-toolbar>
    <ion-title>
      Picture crazy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let card of cards">
    <ion-card-header>
      <ion-card-title>{{card.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{card.description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentAlertPrompt()">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>